@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
  font-family: Raleway;
  src: url(assets/fonts/Raleway-VariableFont_wght.ttf);
  font-family: Sequel;
  src: url(assets/fonts/Sequel\ Sans\ Black\ Disp.otf);
  font-family: Scene;
  src: url(assets/fonts/SceneProBlack.OTF);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #fff6e0;
  --text-color: #272829;
  --second-color: #61677a;
  --main-color: #ff6442;
  --big-font: 3.3rem;
  --h2-font: 1.6rem;
  --p-font: 1rem;
}

body {
  font-family: "Scene", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*Desktop Nav*/
nav,
.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 24px;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1vh;
  transition: 0.3s;
}

li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'Sequel', sans-serif;
  color: var(--text-color);
  padding: 8px 10px;
  transition: all 0.3s ease-in;
}

.nav-links a:hover {
  color: var(--main-color);
  text-shadow: 1px 1px 0px var(--text-color);
}

.nav-links a:hover::after {
  width: 100%;
}

.logo {
  font-family: 'Sequel', sans-serif;
  letter-spacing: -2px;
  font-size: 2rem;
  font-weight: 700;
}

.logo:hover {
  cursor: default;
}

section {
  height: 90vh;
  margin: 0;
  box-sizing: border-box;
  min-height: fit-content;
  background: url(assets/bgg.png);
  background-size: contain;
  padding: 0 15rem;
}

.scrolling_text {
  position: absolute;
  justify-content: center;
  align-items: baseline;
  width: 50%;
  margin-top: 40px;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  border-radius: 40px;
  background: var(--bg-color);
  box-shadow: inset 5px 0px 10px var(--text-color),
            inset -5px 0px 10px var(--text-color);
}

.title {
  justify-content: center;
  font-size: var(--big-font);
  font-weight: 500;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #272829;
  text-shadow: 2px 2px 5px #57565680, -2px -2px 5px #57565680;
  animation: animate_text 50s linear infinite;
}

.title span {
  margin: 0 20px;
}

@keyframes animate_text {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* HOME SECTION */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.home-img {
  display: flex;
  height: 80%;
  margin: auto 0;
}

.home-img img {
  display: flex;
  position: relative;
  height: 90%;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  align-self: center;
}

.home-text {
  background-color: var(--bg-color);
  padding: 30px;
  border: #272829 1px solid;
  border-radius: 24px;
  text-align: center;
  text-shadow: 2px 2px 5px #25252549;
  line-height: 1.5;
}

.home-text h1 {
  margin: 0px 0px 17px 0px;
  font-size: var(--big-font);
  line-height: 1;
  font-weight: 800;
}

.home-text h3 {
  color: var(--main-color);
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.home-text h4{
  font-size: 18px;
  font-weight: 300;
}

.home-text p{
  font-family: 'Montserrat', sans-serif;
  font-size: var(--p-font);
}

.social-wrap .social-button{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 24px 8px 0px 8px;
  text-align: center;
  border: #272829 1px solid;
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
  color: var(--bg-color);
  box-shadow: 2px 2px 5px #25252580;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.social-wrap .social-button:hover{
  width: fit-content;
  background: var(--text-color);
  padding: 0 20px;
}

.social-wrap .social-button a{
  line-height: 40px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 22px;
  transition: 0.5s ease-in;
}

.social-wrap .social-button:nth-child(1):hover a,
.social-wrap .social-button:nth-child(2):hover a,
.social-wrap .social-button:nth-child(3):hover a,
.social-wrap .social-button:nth-child(4):hover a,
.social-wrap .social-button:nth-child(5):hover a{
  background-color: var(--main-color);
  color: var(--bg-color);
  padding: 8px;
}

.social-wrap .social-button span{
  align-self: center;
  line-height: 40px;
  font-size: 18px;
  font-family:'Anton', sans-serif; 
  font-weight: 500;
  margin-left: 10px; 
  transition: 0.5s ease-in;
}

/* ABOUT SECTION */
#about{
    position: relative;
    display: flex;
    justify-content: center;
}

.about-pic{
  display: flex;
  height: 60%;
  align-self: center;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 0px var(--text-color);
}

.about-pic img{
  display: flex;
  position: relative;
  height: 100%;
  border-radius: 5px;
  align-self: center;
  box-shadow: -10px -10px 0px var(--main-color);
}

.about-container{
  width: 40%;
  align-self: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #eee5d0;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.1);
}

.about-title{
  background: var(--text-color);
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
}

.about-title h2{
  font-size: var(--h2-font);
  color: var(--bg-color);
  letter-spacing: 1px;
  margin-left: 10px;
}

.about-container p{
  margin: 10px 5px 0px 5px;
  letter-spacing: 1px;
  font-family:'Montserrat', sans-serif;  
  text-align: justify;
  letter-spacing: 1px;
  padding: 10px 20px 10px 20px;
  font-size: var(--p-font);
}

.skills{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
}

.skill-box{
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
}

.skill-box:hover img{
  transform: scale(1.1);
}

.skill-box img{
  justify-content: center;
  transition: all 0.3s ease-in;
}

.skill-box h5{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

/* Experience */
#experience{
  position: relative;
  display: flex;
  justify-content: center;
}

/* Projects */
#projects{
  position: relative;
  display: flex;
  justify-content: center;
}