@font-face {
  font-family: Raleway;
  src: url(assets/fonts/Raleway-VariableFont_wght.ttf);
  font-family: Sequel;
  src: url(assets/fonts/Sequel\ Sans\ Black\ Disp.otf);
  font-family: Scene;
  src: url(assets/fonts/SceneProBlack.OTF);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #EEEEEE;
  --text-color: #0F0E0E;
  --second-color: #252323;
  --main-color: #A7000A;
  --big-font: 3.5rem;
  --h2-font: 1.5rem;
  --p-font: 16px;
}

body {
  font-family: "Scene", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*Desktop Nav*/
nav,
.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  position: relative;
}

nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10vw;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  border-bottom: var(--main-color) solid 2px;
  z-index: 1;
}

li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
  padding: 8px 16px;
  transition: all 0.3s ease-in;
}

.nav-links a:hover,
.nav-links a:active {
  background-color: rgb(37, 35, 35, 0.1);
  border-radius: 10px;
}        

.logo {
  font-family: 'Sequel', sans-serif;
  letter-spacing: -2px;
  font-size: 1.5rem;
  font-weight: 700;
}

.logo a{
  text-decoration: none;
  color: #0F0E0E;
}

.logo a:hover {
  color: #A7000A;
  transition: 1s ease;
}

/* Hamburger Nav */
#hamburger-nav {
  display: none;
  position: relative;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 10px;
  padding: 0px 10px;
  border-radius: 10px;
  background: #EEEEEE;
  max-height: 0;
  width: fit-content;
  z-index: 2;
  overflow: hidden;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: var(--second-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  bottom: -1px;
  left: 0;
  transition: ease .4s;
}

.menu-links a:hover::after{
  width: 100%;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Section */
section {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  min-height: fit-content;
  background: url(assets/bgg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position:center;
  padding: 0 15rem;
}

.title{
  display: flex;
  justify-content: center;
  margin: 100px auto;
  text-align: center;
  width: 100%;
}

.title h2{
  font-family: Raleway;
  font-size: var(--big-font);
  font: 500;
}

@keyframes animate_text {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.gradient{
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient(to top, #41404031, #00000000);
}

aside{
  width: 5vh;
  bottom: 0;
  position: fixed;
  background: transparent;
  float: left;
  margin-left: 10px;
  z-index: 1;
}

.social-line{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.vertical{
  display: inline-block;
  border-left: 2px solid var(--text-color);
  height: 100px;
}

.social-wrap .social-button{
  display: flex;
  margin: 8px;
  border-radius: 50px;
  justify-content: center;   
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.social-button h4{
  font-size: 14px;
  align-self: center;
  justify-content: left;
  width: 10%;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.social-button:hover h4{
  opacity: 1;
  margin-left: 90%;
}

.social-button a{
  color: var(--text-color);
  font-size: 24px;
  align-self: center;
  text-align: center;
}

.social-wrap .social-button a:hover{
  color: var(--main-color);
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

/* HOME SECTION */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.home-img {
  display: flex;
  height: 80%;
  margin: auto 0;
}

.home-img img {
  display: flex;
  position: relative;
  height: 90%;
  border-radius: 5px;
  filter: drop-shadow(0 0 10px var(--second-color));
  border-bottom: var(--main-color) 3px solid;
  align-self: center;
}

.home-text {
  background-color: transparent;
  padding: 30px;
  text-align: left;
  text-shadow: 2px 2px 5px #25252549;
  line-height: 1.5;
}

.home-text li{
  list-style: none;
}

.home-text h1{
  font-size: var(--big-font);
  line-height: 1;
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--text-color);
}

.home-text h3 {
  color: var(--main-color);
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.home-text a{
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.home-text a:hover i{
  color: var(--main-color);
  margin-left: 5px;
  transition: 0.3s ease-in;
}

.home-text p{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: var(--p-font);
  color: var(--second-color);
  margin-bottom: 30px;
  opacity: 0.9;
}

/* ABOUT SECTION */
#about{
  position: relative;
  display: flex;
  justify-content: center;
  height: 40vh;
  background-color: var(--second-color);
  padding: 5vh 0;
}

.btn{
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  background: var(--second-color);
  border: none;
  border-radius: 20px;
  color: var(--bg-color);
  letter-spacing: 1px;
  font-size: var(--p-font);
  font-weight: 700;
  transition: ease .50s;
}

.btn:hover {
  color: var(--bg-color);
  background-color: var(--text-color);
  border: transparent;
  cursor: pointer;
  transition: .5s;
}

.about-container{
  width: 70%;
  align-self: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
}

.about-text h2{
  text-align: center;
  font-size: var(--big-font);
  letter-spacing: 1px;
  margin-left: 10px;
}

.about-container p{
  margin: 10px 5px;
  letter-spacing: 1px;
  font-family:'Montserrat', sans-serif;  
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 10px 20px 10px 20px;
  font-size: var(--p-font);
}

.about-text{
  padding: 20px;
  color: var(--bg-color);
}

/* Technologies */
#technologies{
  position: relative;
  display: flex;
  flex-direction: column;
}

.tech-container{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tech-text h2{
  margin-top: 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: var(--h2-font);
  text-align: center;
}

.tech-container a{
  text-decoration: none;
}

.tech-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  margin: 20px;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  cursor: pointer;
}

.tech-card h4{
  font-family: Raleway;
  color: var(--text-color);
  font-weight: 600;
  text-align: right;
}

.tech-card img{
  width: 35px;
  height: auto;
}

.tech-card:hover{
  cursor: pointer;
  background-color: #bebcbc;
  transition: 0.5s ease;
}

.tech-card:hover img{
  transform: scale(1.2);
  transition: 0.5s ease;
}


/* Projects */
#projects{
  position: relative;
  display: flex;
  flex-direction: column;
}

.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card{
  display: flex;
  flex-direction: column;
  margin: 0px 20px 30px 20px;
  align-items: center;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  height: 250px;
  width: 300px;
}

.project-card img {
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  margin: 0px 15px;
  width: 300px;
  height: 170px;
}

.project-card h2{
  margin: 10px;
  text-align: center;
  font-size: 18px;
  color: black;
  font-family: Raleway;
  font-weight: 600;
}

.project-card:hover{
  background-color: #b4b4b4;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.project-card a{
  text-decoration: none;
}

/* Contact */
#contact{
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  height: 450px;
  text-align: center;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  padding: 2rem 1rem 1rem 1rem;
}

.form h2{
  margin-top: 20px;
  font-family: Raleway;
  font-weight: 600;
}

.form hr{
  margin: 30px 3.5rem 0px 3.5rem;
  border: 1px solid var(--main-color);
}

.contact-form form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.contact-form input:focus{
  border: 1px solid var(--second-color);
  background-color: #eeeeee;
}
.contact-form textarea:focus{
  border: 1px solid var(--second-color);
  background-color: #eeeeee;
}

.contact-form input,
textarea{
  outline: none;
  margin: 15px;
  color: #252323;
  padding: 12px 18px;
  width: 90%;
  box-sizing: border-box;
  border: transparent;
  background: transparent;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  transition: 0.3s ease;
}

.contact-form button{
  font-size: 16px;
  color: #252323;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  background: transparent;
  font-weight: 600;
  transition: 0.5s ease;
  padding: 12px 24px;
  margin-top: 20px;
}

.contact-form button:hover{
  color: #EEEEEE;
  background: var(--second-color);
  transition: 0.5s ease;
}

.cont-social{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-social a{
  display: inline-flex;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border-radius: 20%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--second-color);
  margin: 5px 5px;
}
.cont-social a:hover{
  transform: scale(1.1);
  color: var(--main-color);
  transition: ease.5s;
}

/* FOOTER */

.footer-contain{
  width: 100%;
  padding: 30px 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-nav a{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footnav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 24px;
  position: relative;
}

.footer-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  margin: 20px;
}

li {
  position: relative;
}

.footnav-links a {
  font-family: Raleway;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--second-color);
  font-weight: 500;
  padding: 10px 3px;
}

.footnav-links a:hover{
    color: var(--main-color);
    transition: 0.5s ease;
}

.footnav-links a:hover::after{
    width: 100%;
}

.footer-bottom p{
  font-family: Raleway;
  color: var(--second-color);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}