@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
  font-family: Raleway;
  src: url(assets/fonts/Raleway-VariableFont_wght.ttf);
  font-family: Sequel;
  src: url(assets/fonts/Sequel\ Sans\ Black\ Disp.otf);
  font-family: Scene;
  src: url(assets/fonts/SceneProBlack.OTF);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #EEEEEE;
  --text-color: #0F0E0E;
  --second-color: #61677a;
  --main-color: #A7000A;
  --big-font: 3.3rem;
  --h2-font: 1.6rem;
  --p-font: 1rem;
}

body {
  font-family: "Scene", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*Desktop Nav*/
nav,
.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 24px;
  position: relative;
}

nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25vh;
  padding: 1vh 2vh;
  transition: 0.3s;
  background: transparent;
  border-bottom: var(--main-color) solid 2px;
  z-index: 1;
}

li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Sequel', sans-serif;
  color: var(--text-color);
  padding: 8px 10px;
  transition: all 0.3s ease-in;
}

.nav-links a:hover {
  color: var(--main-color);
  text-shadow: 1px 1px 0px var(--text-color);
}

.nav-links a:hover::after {
  width: 100%;
}

.logo {
  font-family: 'Sequel', sans-serif;
  letter-spacing: -2px;
  font-size: 2rem;
  font-weight: 700;
}

.logo:hover {
  cursor: default;
}

section {
  height: 94vh;
  margin: 0;
  box-sizing: border-box;
  min-height: fit-content;
  background: url(assets/bgg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position:center;
  padding: 0 15rem;
}

.scrolling_text {
  position: absolute;
  justify-content: center;
  align-items: baseline;
  width: 50%;
  margin-top: 40px;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  border-radius: 40px;
  background: var(--text-color);
  box-shadow: inset 5px 0px 10px #5756569d,
            inset -5px 0px 10px #5756569d;
}

.title {
  justify-content: center;
  font-size: var(--big-font);
  font-weight: 500;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--bg-color);
  text-shadow: 2px 2px 5px #3a3a3a80, -2px -2px 5px #3a3a3a80;
  animation: animate_text 50s linear infinite;
}

.title span {
  margin: 0 20px;
}

@keyframes animate_text {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.gradient{
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient(to top, #41404031, #00000000);
}

aside{
  width: 5vh;
  bottom: 0;
  position: fixed;
  background: transparent;
  float: left;
  margin-left: 10px;
  z-index: 1;
}

.social-line{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.vertical{
  display: inline-block;
  border-left: 2px solid var(--text-color);
  height: 100px;
}

.social-wrap .social-button{
  display: flex;
  margin: 8px;
  border-radius: 50px;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.social-button h4{
  font-size: 12px;
  align-self: center;
  justify-content: left;
  width: 10%;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.social-button:hover h4{
  opacity: 1;
  margin-left: 90%;
}

.social-button a{
  color: var(--text-color);
  font-size: 24px;
  align-self: center;
  text-align: center;
}

.social-wrap .social-button a:hover{
  color: var(--main-color);
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}


/* HOME SECTION */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.home-img {
  display: flex;
  height: 80%;
  margin: auto 0;
}

.home-img img {
  display: flex;
  position: relative;
  height: 90%;
  border-radius: 5px;
  filter: drop-shadow(0 0 10px var(--second-color));
  border-bottom: var(--main-color) 3px solid;
  align-self: center;
}

.home-text {
  background-color: var(--bg-color);
  padding: 30px;
  border: 3px solid var(--main-color);
  text-align: center;
  text-shadow: 2px 2px 5px #25252549;
  box-shadow: 5px 5px 10px #575656a1;
  line-height: 1.5;
}

.home-text h1 {
  margin: 0px 0px 17px 0px;
  font-size: var(--big-font);
  line-height: 1;
  font-weight: 800;
}

.home-text h3 {
  color: var(--main-color);
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.home-text h4{
  font-size: 18px;
  font-weight: 300;
}

.home-text p{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: var(--p-font);
}

/* ABOUT SECTION */
#about{
    position: relative;
    display: flex;
    justify-content: center;
}

.about-pic{
  display: flex;
  height: 60%;
  align-self: center;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 0px var(--text-color);
}

.about-pic img{
  display: flex;
  position: relative;
  height: 100%;
  border-radius: 5px;
  align-self: center;
  box-shadow: -10px -10px 0px var(--main-color);
}

.about-container{
  width: 40%;
  align-self: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #eee5d0;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.1);
}

.about-title{
  background: var(--text-color);
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
}

.about-title h2{
  font-size: var(--h2-font);
  color: var(--bg-color);
  letter-spacing: 1px;
  margin-left: 10px;
}

.about-container p{
  margin: 10px 5px 0px 5px;
  letter-spacing: 1px;
  font-family:'Montserrat', sans-serif;  
  text-align: justify;
  letter-spacing: 1px;
  padding: 10px 20px 10px 20px;
  font-size: var(--p-font);
}

.skills{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
}

.skill-box{
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
}

.skill-box:hover img{
  transform: scale(1.1);
}

.skill-box img{
  justify-content: center;
  transition: all 0.3s ease-in;
}

.skill-box h5{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

/* Experience */
#experience{
  position: relative;
  display: flex;
  justify-content: center;
}

/* Projects */
#projects{
  position: relative;
  display: flex;
  justify-content: center;
}